<h1 class="titulo">Estilista</h1>
<h2 class="subtitulo"> Seleccionar Subcategoría</h2>

<hr>

<div class="contenedor">


    <mat-card class="example-card mat-elevation-z0">

        <img mat-card-image src="assets/img/cortecab.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <h4 class="card-title"> <b>Corte de Cabello</b></h4>
            <p class="card-text text-muted"> Test </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card mat-elevation-z0">

        <img mat-card-image src="assets/img/cortebarba.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <h4 class="card-title"> <b>Corte de Barba</b></h4>
            <p class="card-text text-muted"> Test </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card mat-elevation-z0">

        <img mat-card-image src="assets/img/maquillaje.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <h4 class="card-title"> <b>Mascarilla</b></h4>
            <p class="card-text text-muted"> Test </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card mat-elevation-z0">

        <img mat-card-image src="assets/img/mascarillas_n.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <h4 class="card-title"> <b>Mascarillas</b></h4>
            <p class="card-text text-muted"> Test </p>
        </mat-card-content>
    </mat-card>

</div>