<h3>Especialidades</h3>
<mat-divider></mat-divider>
    <mat-card class="example-card" *ngFor="let skill of skills">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <mat-icon>
                bookmark
            </mat-icon>
          </div>
          <mat-card-title>{{skill.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{skill.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-flat-button color="primary" routerLink="/skill/{{skill.empleoId}}">
                Ver Provedores
            </a>
        </mat-card-actions>
        <mat-divider></mat-divider>
      </mat-card>