.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

h3 {
    color: whitesmoke;
}

.mat-flat-button.mat-primary {
    background-color: #CA0088;
}

.mat-flat-button.mat-accent {
    background-color: #57ef44;
}

.mat-card-actions {
    text-align: center;
}

.mat-button-base {
    margin: 1px 25px 1px 0;
}

.info {
    font-size: calc(0.9em + 0.9vw);
    max-width: 100%;
}