
<!--
<mat-grid-list cols="1" rowHeight="3:2">
  <mat-grid-tile class="buscarServicioButton" >
      <a mat-flat-button color="primary" routerLink="/catalog">
      Buscar un Servicio
      </a>
  </mat-grid-tile>
  <mat-grid-tile class="publicarServicioButton"  >
      <a mat-flat-button color="accent" routerLink="/">
          Publicar un Servicio
      </a>
  </mat-grid-tile>
</mat-grid-list>
-->
<!--
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
 <ion-content [fullscreen]="true">

  </ion-content>
-->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>algo</ion-title>
    <img class ="JcEicon"  src ="/assets/img/Jalisco con EmpleoPNGBN.png" >
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">algo</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">algo</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>


