.buscarServicioButton {
    background-image: url("/assets/img/pexels-andrea-piacquadio-3823488.jpg");
    background-size: cover;
}

.publicarServicioButton {
    background-image: url("/assets/img/pexels-anthony-shkraba-4348403.jpg");
    background-size: cover;
}

.mat-flat-button.mat-primary {
    background-color: #D5665F;
}

.mat-flat-button.mat-accent {
    background-color: #EAB330;
    color: white;
}

.JcEicon {
  width: 100%;
  max-width: 100px;
  min-width: 30px;
  height: auto;
  float: right;
}


ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}
